body{
    margin: 0;
    width: 100%;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Yu Mincho", Serif;
}

/* banner */
.banner{
    min-width: 760px;
}
.banner img{
    width: 100%;
}

/* coupon */
.coupon{
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
}
.coupon-div{
    flex-basis: 15%;
    min-width: 100px;
    margin: 0 auto;
}
.coupon-div img{
    width: 100%;
}

/* feature */
.feature{
    box-sizing: border-box;
}

/* item */
.items{
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.item-div{
    width: 25%;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #AAAAAA;
}
.item-div img{
    width: 100%;
    vertical-align: middle;
}
.item-origin-price{
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 3px dotted #AAAAAA;
}
.item-sale-price{
    text-align: center;
    color: #CC0000;
    margin-top: 10px;
}
.item-sale-price-title{
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.item-sale-price-price{
    font-size: 25px;
    line-height: 30px;
    font-weight: bolder;
    display: block;
}
.item-purchase{
    text-align: center;
}
.item-purchase-link{
    background-color: #f2eae6;
    height: 30px;
    line-height: 30px;
}
.item-purchase-button{
    color: rgb(95,82,74);

    line-height: 30px;
}