@charset "euc-jp";

/* ------------------------------
- reset
------------------------------ */
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
:root, html, body {
  background-color: #fff;
  color: #333;
  width: 100%;
}
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, "Yu Gothic", YuGothic, sans-serif;
  line-height: 1.8;
  font-size: 12px;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
li {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  transition: .7s;
  font-size: 14px;
  line-height: 1.8;
}
a:hover {
  opacity: .7;
}
p {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

#header img ,
#main img,
#sidenav img,
#footer img,
.guide img{
  line-height: 1;
  width: 100%;
}
/*---------------
-common
---------------*/
.content {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
@media only screen and (max-width: 640px) {

}
/*---------------
-utility
---------------*/
.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.mB10 {
  margin-bottom: 10px;
}
.mB20 {
  margin-bottom: 20px;
}
.mB30 {
  margin-bottom: 30px;
}
.mB40 {
  margin-bottom: 40px;
}
.col1 {
  width: 100%;
}
.col2 {
  width: 48.5%;
}
.col2_1 {
  float: left;
}
.col2_2 {
  float: right;
}
.fw-b {
  font-weight: bold;
}
.visible-md {
  display: block;
}
.visible-sm {
  display: none;
}
 @media only screen and (max-width: 640px) {
   .visible-md {
     display: none;
   }
   .visible-sm {
     display: block;
   }
 }
 /*---------------
 -header
 ---------------*/
 .header {
    width: 100%;
 }
 .header_head {
   padding: 10px 0;
 }
 .header_head_left {
   float: left;
   display: table;
   vertical-align: middle;
 }
 .header_head_logo {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
 }
 .header_head_lead {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
 }
 .header_head_right {
   float: right;
   height: 100%;
   padding: 20px 0;
 }
 .header_head_search{
   display: none;
 }
 .header_head_listitem {
   float: left;
 }
 .header_head_listitem a {
   width: 90px;
   background-color: #999;
   text-align: center;
   margin-left: 10px;
   color: #fff;
   padding: 5px 0;
 }
.header_foot {
  background-color: #999;
  margin-bottom: 20px;
}
.header_foot_listitem {
  float: left;
  width: 16.6666%;
  text-align: center;
  border-left: 1px solid #fff;
}
.header_foot_listitem:first-child {
  border-left: none;
}
.header_foot_listitem a {
  color: #fff;
  padding: 10px 5px;
}
.header_btn{
  display: none;
}
.header_head_search_body{
  display: none;
}
@media only screen and (max-width: 640px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.7);
    z-index: 100;
  }
  .header_head {
    padding: 10px;
  }
  .header_head_left {
    width: 100%;
  }
  .header_head_right {
    display: none;
  }
  .header_head_search{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header_head_search_icon{
    width: 100%;
  }
  .header_head_search_body{
    display: none;
    width: 100%;
    position: absolute;
    top: 66px;
    padding: 10px;
    background-color: rgba(255,255,255,.7);
  }
  .header_foot {
    display: none;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
  }
  .header_head_left {
    float: none;
    display: block;
    position: relative;
  }
  .header_head_logo {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .header_head_lead {
    display: none;
  }
  .header_foot_listitem {
    float: none;
    width: 100%;
    text-align: center;
    border-left: none;
    border-bottom:1px solid #fff;
  }
  .header_btn{
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .hamburger {
    width: 30px;
  }
  .hamburger a {
    position: relative;
    display: block;
    height: 24px;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
  }
  .hamburger span {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #161b1d;
    border-radius: 2px;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
  }
  .hamburger span:nth-of-type(1) {
    top: 0;
  }
  .hamburger span:nth-of-type(2) {
    top: 11px;
  }
  .hamburger span:nth-of-type(3) {
    bottom: 0;
  }
  .hamburger span:nth-of-type(2)::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #161b1d;
    border-radius: 2px;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .hamburger .active span:nth-of-type(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger .active span:nth-of-type(2)::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .hamburger .active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) scale(0);
    -ms-transform: translateY(20px) scale(0);
    transform: translateY(20px) scale(0);
  }
  .hamburger .active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) scale(0);
    -ms-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
/*---------------
-mainArea
---------------*/
.mainArea {
  width: 100%;
  margin-bottom: 50px;
}
@media only screen and (max-width: 640px) {
  .mainArea {
    padding-top: 75px;
  }
}
/*---------------
-mainContent
---------------*/
.main {
  width:80%;
  float: right;
  padding: 0 0 0 20px;
}
@media only screen and (max-width: 640px) {
  .main {
    width:100%;
    float: none;
    padding: 0;
  }
}
/*---------------
-sidenav
---------------*/
.sidenav {
  width:20%;
  float: left;
}
@media only screen and (max-width: 640px) {
  .sidenav {
    width:100%;
    float: none;
  }
}
/*---------------
-h
---------------*/
.h1 {
  font-size: 20px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.h2 {
  font-size: 20px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.h3 {
	font-size: 18px;
	padding-top: 15px;
}
@media only screen and (max-width: 640px) {

}

/*---------------
-searchbox
---------------*/
.searchbox_form {
  width: 100%;
  position: relative;
}
.searchbox_input {
  height: 40px;
  width: 90%;
  padding: 0 35px 0 15px;
  font-size: 12px;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  float: left;
}
.searchbox_btn {
  border-top: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  height: 40px;
  padding: 9px;
  background-color: #f2f2f2;
  transition: .7s;
  position: absolute;
  top: 0;
  right: 0;
}
.searchbox_btn:hover {
  opacity: 0.7;
}
input[type="text"]:focus {
  outline: 0;
}
@media only screen and (max-width: 640px) {
  .searchbox_form {
    width: 100%;
    position: relative;
  }
  .searchbox_input {
    height: 40px;
    width: 90%;
    padding: 0 35px 0 15px;
    font-size: 12px;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    float: left;
  }
  .searchbox_btn {
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    height: 40px;
    padding: 9px;
    background-color: #f2f2f2;
    transition: .7s;
    position: absolute;
    top: 0;
    right: 0;
  }
  .searchbox_textbutton{
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    height: 40px;
    padding: 9px;
    background-color: #f2f2f2;
    transition: .7s;
    position: absolute;
    top: 0;
    right: 0;
  }
  .searchbox_btn:hover {
    opacity: 0.7;
  }
  input[type="text"]:focus {
    outline: 0;
  }
}
/*---------------
-bnr
---------------*/
.bnr_item {
  margin-top: 20px;
}
@media only screen and (max-width: 640px) {

}
/*---------------
-category
---------------*/
.category {
  margin-top: 20px;
}
.category_head {
  font-size: 20px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
li.category_item {
  font-size: 15px;
}
@media only screen and (max-width: 640px) {

}
/*---------------
-guide
---------------*/
.guide {
  width: 100%;
}
.guide_head {
  width: 100%;
  text-align: center;
  background-color: #666;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
}
.guide_list {
  padding: 30px;
  background-color: #ddd;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap:wrap	;
  -moz-flex-wrap:wrap	;
  -ms-flex-wrap:none;
  flex-wrap:wrap	;
}
.guide_item {
	width: 32%;
	background-color: #FFF;
	margin-left: 2%;
	text-align: center;
	padding: 30px;
	font-size: 14px;
}
.guide_item:nth-child(3n+1) {
  margin-left: 0;
}
.guide_item:nth-child(n+4) {
  margin-top: 2%;
}

/*オチ追加しました*/
.guide_item p {
	text-align: left;
	line-height: 20px;
	font-size: 90%;
}
.guide_item p img {
	width: 80%;
	margin-top: 4%;
}
.guide_item_img {
  width: 80%;
  margin: 7% auto 0;
}
.guide_item p.text_center {
	text-align: center;
	font-size: 120%;
	line-height: 30px;
}
.text_red {
	color: #F00;
}
/*カレンダー*/
.guide_calendar{
  background-color: #fff;
  margin-top: 20px;
}
.guide_calendar_table{
}
.guide_calendar_caption{
    display: table;
    margin-top: 10px;
}
.guide_calendar_icon{
  width: 18px;
  height: 18px;
  background-color: #e1e1e1;
  display: table-cell;
  vertical-align: middle;
}
.guide_calendar_text{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

@media only screen and (max-width: 640px) {
  .guide_list {
    padding:  4%;
  }
  .guide_item {
    float: none;
    width: 100%;
    margin-left: 0;
    height: auto;
    margin-top: 2%;
    padding: 2%;
  }


  .guide_item p {
	text-align: left;
}

}
/*---------------
- calendar
---------------*/
#calendar {
}
.calendar {
    padding: 0;
    margin: 0;
    width: 100%;
}
.calendar .headline td {
    font-size: 10px;
}
.calendar .dateName {
    text-align: center;
    font-family: "Myriad Pro", "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 14px;
    color: #444;
}
.calendar th span {
  cursor: pointer;
  float: right;
  font-size: 11px;
  padding: 4px 0 0;
}
.calendar .pagerPrev{
    float: left;
}
.calendar .pagerNext{
    float: right;
}
.calendar .pagerPrev:hover,
.calendar .pagerNext:hover{
  color: #e6002d;
}
.calendar td {
    border-bottom: solid 1px #CCC;
    text-align: center;
    width: 30px;
    height: 35px;
    vertical-align: middle;
    font-family: "Myriad Pro", "Verdana", "Arial", "Helvetica", "sans-serif";
    line-height: normal;
    font-size: 11px;
    color: #333;
}
.calendar .click {
    cursor: pointer;
    background-color: #FFF;
}
.calendar .Today {
  color: #fff;
  font-size: 13px;
  background-color: #e6002d;
}
.calendar .Sat {
    color: #009;
    background-color: #e1e1e1;
}
.calendar .Sun, .calendar .holyday {
  color: #e5352c;
  background-color: #e1e1e1;
}
.calendar_ttl {
  margin-top: 50px;
  border-bottom: 1px solid #666;
}
@media only screen and (max-width: 640px) {
  .calendar_ttl {
    margin-top: 50px;
    border-bottom: none;
    background: #666;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 16px;
  }
  .calendar_wrap {
    padding: 0 4% 4%;
    border: 1px solid #999;
  }
}
/*---------------
-footer.html
---------------*/
.footer {
  text-align: center;
  padding: 20px 0;
}
@media only screen and (max-width: 640px) {

}

/*---------------
-table
---------------*/
.table{
  width: 100%;
}
.table-typeA,
.table-typeA th,
.table-typeA td{
  border: 1px #c0c0c0 solid;
  border-collapse: collapse;
  vertical-align: middle;
  text-align: left;
  padding: 20px;
}
.table-typeA th{
  background-color: #f2f2f2;
  width: 20%;
}
@media only screen and (max-width: 640px) {
  .table-typeA,
  .table-typeA th,
  .table-typeA td{
    padding: 10px;
  }
  .table-typeA th{
    background-color: #f2f2f2;
    width: 40%;
  }
}
/*---------------
-iframe
---------------*/
.iframeContent {
  position: relative;
  width: 100%;
  padding: 135% 0 0 0;
}
.iframeContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}