table{
    border-spacing: 0 !important;
}

#item-cont-re{
    width: 810px !important;
}

#item-cont-re .img-box{
    width: 740px !important;
    margin: 0 0 15px 0 !important;
    text-align: left !important;
}

#risFil{
    width: 810px !important;
}

td.inventory_choice_name{
    background: #bf0000 !important;
    font-size: 15px !important;
    border: 1px solid lightgray !important;
}

span.inventory_choice_name{
    color: white !important;
    margin: 0 5px !important;
}

td.inventory{
    border: 1px solid lightgray !important;
}