
/*===================== 1. Theme default css ====================*/

body {
    font-family: 'BIZ UDPGothic', sans-serif;
    font-weight: bold;
    color: #7c7a7a;
}

img {
    transition: all 0.3s ease-out 0s;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4a4a4a;
    font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;

}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span{
    user-select: text;
}
h1 {
    font-size: 100px;
    line-height: 126px;
    font-weight: 300;
    color: #292929;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #7c7a7a;
}

/* pseudo classes */
*::-moz-selection {
    background: rgb(51, 101, 228);
    color: #fff;
    text-shadow: none;
}

::selection {
    background: rgb(51, 101, 228);
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

*::placeholder {
    color:#a1a1a1;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

*::focus {
    outline: none;
}

*::-moz-focus {
    outline: none;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #ebe7e7 inset;
    -moz-box-shadow: 0 0 0 1000px #ebe7e7 inset;
    box-shadow: 0 0 0 1000px #ebe7e7 inset;
}

/*===================== 1. Common Header css ====================*/
.header{
    width: 100%;
    height: 75px;
    background: #ebe7e7;
}

.header .header-container{
    display: flex;
    padding: 0 50px 0 50px;
}

.header-container .logo {
    z-index: 999;
    position: relative;
    cursor: pointer;
    flex-basis: 20%;
}

.header-container .menu{
    flex-basis: 55%;
}

.header-container .menu-icons{
    flex-basis: 25%;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
}

.main-menu ul li a,
.main-menu ul li> span {
    color: #292929;
    font-weight: 550;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .12em;
    position: relative;
    margin: 0 20px;
    cursor: pointer;
}

.main-menu ul li ul li h4 {
    color: #4a4a4a;
}

.sub-menu-sub-title {
    font-size: 14px !important;
    margin: 3px 0 3px 2px !important;
    font-weight: 500 !important;
}

.sub-menu-main-title {
    font-size: 14px !important;
    margin: 8px 0 5px 2px !important;
}

.main-menu ul li a:hover {
    color: #ff5235;
}

.main-menu ul li ul li {
    display: block;
}

.main-menu ul li ul {
    position: absolute;
    width: 200px;
    z-index: 22;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px 20px 20px;
    box-shadow: 0px 2px 30.4px 1.6px rgba(204, 204, 223, 0.5);
    visibility: hidden;
    opacity: 0;
    top: 70px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}


.main-menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 25px;
}

.main-menu ul li .sub-menu li a {
    margin-left: 20px;
    margin-bottom: 10px;
}

.main-menu ul li a::after {
    position: absolute;
    content: "";
    top: 90%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: #ff5235;
    transition: transform .5s;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -moz-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    -o-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    transition: transform 200ms;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
}

.main-menu ul li a:hover::after {
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    -moz-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    -o-transform: translateX(-50%) scaleX(1);

}

.main-menu .sub-menu.menu-level {
    width: 750px;
    height: 260px;
}

.main-menu .sub-menu.menu-level li {
    width: 20%;
    float: left;
}

.main-menu .sub-menu.menu-level .sub-menu {
    box-shadow: none;
    background: none;
    padding-left: 0;
    padding-top: 20px;

}

.main-menu .sub-menu.menu-level .sub-menu li a {
    margin-left: 5px;
    color: #625f5f;
}

.main-menu .sub-menu.menu-level .sub-menu li {
    float: none;
    width: 100%;
}

.main-menu .sub-menu.menu-level h4 {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
}

.nav-icons {
    position: relative;
    z-index: 999;
}

.nav-icons ul {
    float: right;
    display: inline-flex;
}

.nav-icons ul li {
    display: inline-block;

}

.nav-icons ul li a,
.nav-icons ul li .search >span ,
.nav-icons ul li> span{
    font-size: 16px;
    color: #000;
    padding: 0 6px;
    position: relative;
    cursor: pointer;
}

.search-box{
    margin-right: 5px;
    float: left;
}
.search-box input{
    width: 188px;
    border: none;
    background: none;
    color: rgb(95,82,74);
    border-bottom: 1px solid rgb(95,82,74);
}
.search-box input:focus{
    outline: none;
}
.search-box button{
    margin-left: 5px;
    border: none;
    text-align: right;
    background: #ebe7e7;
}

.header-banner{
    width: 100%;
    height: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}
.header-banner-item{
    margin-top: 10px;
    text-align: center;
}
.header-banner-item img:hover{
    opacity: 0.8;
}

.item-quantity-3{
    flex: 0 0 33.33%;
}
.item-quantity-3 img{
    width: 350px;
}

.item-quantity-1{
    flex: 0 0 100%;
}
.item-quantity-1 img{
    width: 1100px;
}