
/*===================== 1. Theme default css ====================*/

body {
    font-family: 'BIZ UDPGothic', sans-serif;
    font-weight: bold;
    color: #7c7a7a;
}

img {
    transition: all 0.3s ease-out 0s;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(95,82,74);
    font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: rgb(95,82,74);

}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span{
    user-select: text;
}
h1 {
    font-size: 100px;
    line-height: 126px;
    font-weight: 300;
    color: rgb(95,82,74);
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: rgb(95,82,74);
    margin-bottom: 15px;
}
a, h1, h2, h3, h4, h5, h6, span, p{
    color: rgb(95,82,74);
}
/* pseudo classes */
*::-moz-selection {
    background: rgb(51, 101, 228);
    color: #fff;
    text-shadow: none;
}

::selection {
    background: rgb(51, 101, 228);
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

*::placeholder {
    color:#a1a1a1;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

*::focus {
    outline: none;
}

*::-moz-focus {
    outline: none;
}
input:-webkit-autofill{
    /*transition: background-color 60000s ease-in-out 0s,*/
    /*color 60000s ease-in-out 0s !important;*/
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -moz-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
}

/*===================== 1. Common Header css ====================*/
.header-1 {
    text-align: center;
    display: block;
    height: 208px;
    width: 100%;
    /*position: fixed;*/
    z-index: 44;
    background-image: linear-gradient(220deg, #fdfcfb 0%, #f2eae6 80%)
}
.header-1.sticky {
    background-image: linear-gradient(220deg, #fdfcfb 0%, #f2eae6 80%)

}
.header-row{
    width: 100%;
    display: block;
}
.header-white-row{
    background-color: white;
    border-top: 1px solid #868f96
}

.header-logo{
    width: 1200px;
    padding: 20px 30px;
    display: inline-flex;
}
.logo{

}
.logo img{
    width: 153px;
    height: 45px;
}

.nav-bar{
    margin: auto 0 auto auto;
}
.nav-bar-item{
    display: inline-block;
    margin: 0 5px;
}
.nav-bar-item i,a{
    font-size: 14px;
    font-weight: 550;
}

.header-search-bar{
    display: inline-flex;
    width: 1200px;
    padding: 15px 40px;
}
.search-box{
    display: block;
    float: left;
}
.search-box input{
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 6px;
    text-indent: 10px;
    color: rgb(95,82,74);
    padding-right: 38px;
}
.search-box button{
    margin-left: -35px;
    border: none;
    background: none;
}
.search-box i{
    color: rgb(95,82,74);
}

.keyword_box{
    float: left;
    height: 30px;
    margin-left: 40px;
}
.keyword_box ul{
    display: inline-flex;
}
.keyword_item{
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 5px;
    margin: 0 5px;
}
.keyword_item:hover{
    background-color: #ebe7e7;
    color: white;
}

.header-nav-bar{
    width: 1200px;
    padding: 18px 40px;
    display: inline-flex;
}


.main-menu{
    font-family: 'BIZ UDPGothic', sans-serif;
}

.menu-list{
    width: 100%;
    display: inline-flex;
}
.menu-item{
    border-left: solid 1px #868f96;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
    width: 16.6%;
}

.main-menu ul li a{
    color: rgb(95,82,74);
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .15em;
    position: relative;
    margin: 0 20px;
    cursor: pointer;
}

.main-menu ul li ul li h4 {
    color: rgb(95,82,74);
}

.sub-menu-main-title {
    font-size: 14px !important;
    margin: 8px 0 5px 2px !important;
}
.sub-menu-sub-title {
    font-size: 13px !important;
    margin: 3px 0 3px 2px !important;
    font-weight: 500 !important;
}

.main-menu ul li a:hover {
    color: #ff5235;
}

.main-menu ul li ul li {
    display: block;
}

.main-menu ul li ul {
    position: absolute;
    width: 200px;
    z-index: 22;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px 20px 20px;
    box-shadow: 0px 2px 30.4px 1.6px rgba(204, 204, 223, 0.5);
    visibility: hidden;
    opacity: 0;
    top: 70px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}


.main-menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 25px;
}

.main-menu ul li .sub-menu li a {
    margin-left: 20px;
    margin-bottom: 10px;
}

.main-menu ul li a::after {
    position: absolute;
    content: "";
    top: 90%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: #ff5235;
    transition: transform .5s;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -moz-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    -o-transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    transition: transform 200ms;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
}

.main-menu ul li a:hover::after {
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    -moz-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    -o-transform: translateX(-50%) scaleX(1);

}

/* menu-category */
.main-menu .sub-menu.menu-category {
    width: 750px;
    height: 260px;
    text-align: left;
    left: 50px;
}
.main-menu .sub-menu.menu-category li {
    width: 20%;
    float: left;
}
.main-menu .sub-menu.menu-category .sub-menu {
    box-shadow: none;
    background: none;
    padding-left: 0;
    padding-top: 20px;

}
.main-menu .sub-menu.menu-category .sub-menu li a {
    margin-left: 5px;
    color: #625f5f;
}
.main-menu .sub-menu.menu-category .sub-menu li {
    float: none;
    width: 100%;
}
.main-menu .sub-menu.menu-category h4 {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
}

/* menu-goods */
.main-menu .sub-menu.menu-goods {
    width: 160px;
    height: 315px;
    text-align: left;
    left: 50px;
    padding-top: 0px !important;
}
.main-menu .sub-menu.menu-goods li {
    width: 20%;
    float: left;
}
.main-menu .sub-menu.menu-goods .sub-menu {
    box-shadow: none;
    background: none;
    padding-left: 0px;
    padding-top: 0px !important;

}
.main-menu .sub-menu.menu-goods .sub-menu li a {
    margin-left: 5px;
    color: #625f5f;
}
.main-menu .sub-menu.menu-goods .sub-menu li {
    float: none;
    width: 100%;
}
.main-menu .sub-menu.menu-goods h4 {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px !important;
    text-transform: uppercase;
}

/* header-banner */
.header-banner{
    width: 100%;
    height: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}
.header-banner-item{
    margin-top: 10px;
    text-align: center;
}
.header-banner-item img:hover{
    opacity: 0.8;
}

.item-quantity-3{
    flex: 0 0 33.33%;
}
.item-quantity-3 img{
    width: 350px;
}

.item-quantity-1{
    flex: 0 0 100%;
}
.item-quantity-1 img{
    width: 1100px;
}